.appFadeIn {
  animation-name: simpleFadeIn;
  animation-duration: 0.15s;
}

.titleMain {
  opacity: 0;
  animation-name: titleMain;
  animation-duration: 4s;
}

.titleLogo {
  animation-name: logoMain;
  animation-duration: 4s;
}

.onboardingTextIn {
  animation-name: onboardingTextIn;
  animation-duration: 1.5s;
}

.onboardingButtonIn {
  animation-name: onboardingButtonIn;
  animation-duration: 1.5s;
}

.onboardingTextOut {
  opacity: 0;
  animation-name: onboardingTextOut;
  animation-duration: 0.75s;
}

.onboardingButtonOut {
  opacity: 0;
  animation-name: onboardingButtonOut;
  animation-duration: 0.75s;
}

.quizFadeIn {
  animation-name: simpleFadeIn;
  animation-duration: 0.5s;
}

.quizFadeOut {
  opacity: 0;
  animation-name: simpleFadeOut;
  animation-duration: 0.5s;
}

.quizBackgroundNextStart {
  animation-name: quizBackgroundNextStart;
  animation-duration: 0.5s;
}

.quizBackgroundLoop {
  animation-name: quizBackgroundLoop;
  animation-duration: 0.5s;
  filter: blur(1em);
  opacity: 0.25;
}

.quizProgressPercent {
  transition: width 1s;
}

.hiddenStill {
  visibility: hidden;
}

.quizProgressIn {
  animation-name: simpleFadeIn;
  animation-duration: 1s;
}

.questionBlockIn {
  animation-name: questionBlockIn;
  animation-duration: 1s;
}

.quizProgressOut {
  animation-name: quizProgressOut;
  animation-duration: 2s;
  opacity: 0;
}

.unbornProgressOut {
  animation-name: simpleFadeOut;
  animation-duration: 1s;
  opacity: 0;
}

.questionBlockOut {
  animation-name: questionBlockOut;
  animation-duration: 2s;
  opacity: 0;
}

.yourStarDescendsOuter {
  animation-name: yourStarDescendsOuter;
  animation-duration: 2.5s;
  opacity: 0;
}

.yourStarDescendsOuter .yourStarDescendsSeparator {
  animation-name: yourStarDescendsSeparator;
  animation-duration: 2.5s;
}

.yourStarDescendsOuter .theGreatCosmosDeemsYou {
  animation-name: theGreatCosmosDeemsYou;
  animation-duration: 2.5s;
}

.revealOuter {
  animation-name: revealOuter;
  animation-duration: 2s;
  opacity: 0;
}

.unbornStarCanvasAnimation {
  animation-name: unbornStarCanvasAnimation;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

.unbornStarCanvasTransition {
  transition-property: transform;
  transition-duration: 1s;
}

.unbornStarCanvasTransitionReveal {
  transform: scale(1, 1) translate(0, 0);
}

.unbornStarCanvasTransitionWhyDoYouResemble {
  transform: scale(0.8, 0.8) translate(0, -10em);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.unbornStarCanvasTransitionStarColor {
  transform: scale(0.65, 0.65) translate(0, 0);
}

.unbornStarCanvasTransitionName {
  transform: scale(0.65, 0.65) translate(0, 0);
}

.unbornStarCanvasTransitionConfirmation {
  transform: scale(1, 1) translate(0, 0);
}

.unbornStarCanvasTransitionSendoff {
  transform: scale(0.65, 0.65) translate(0, 0);
}

.unbornProgressStarColor {
  width: 0%;
}

.unbornProgressName {
  width: 50%;
}

.unbornProgressConfirmation {
  width: 100%;
}

.unbornConfirmationOuterOut {
  animation-name: simpleFadeOut;
  animation-duration: 1s;
  opacity: 0;
}

.whyDoYouResembleOuter {
  animation-name: whyDoYouResembleOuter;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

.pulseButton::before {
  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transform: scale(1.5, 1.5);
  opacity: 0;
}

.pulseButton:active:before {
  transition-duration: 0s;
  transform: scale(1, 1);
  opacity: 1;
}

.swipeYourStarUp {
  animation-name: swipeYourStarUp;
  animation-duration: 2s;
}

.swipeTwinkle {
  transition-property: transform;
  transition-duration: 1s;
}

.swipeTwinkleInactive {
  transform: scale(0, 0);
}

.swipeTwinkleActive {
  transform: scale(1, 1);
}

.witnessJoin {
  animation-name: witnessJoin;
  animation-duration: 2.5s;
  opacity: 0;
}

.galleryInFromRight, .galleryInFromLeft, .galleryOutToLeft, .galleryOutToRight {
  animation-duration: 1s;
}

.galleryOutToLeft, .galleryOutToRight {
  opacity: 0;
}

.galleryInFromRight {
  animation-name: galleryInFromRight;
}

.galleryInFromLeft {
  animation-name: galleryInFromLeft;
}

.galleryOutToLeft {
  animation-name: galleryOutToLeft;
}

.galleryOutToRight {
  animation-name: galleryOutToRight;
}

.bornStarControlPanel {
  animation-name: bornStarControlPanel;
  animation-duration: 0.5s;
}

.bornStarCanvas {
  animation-name: bornStarCanvas;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

@keyframes simpleFadeIn {
  from {opacity: 0;}
}

@keyframes simpleFadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes titleMain {
  from {
    opacity: 0;
    transform: translate(0, 2em);
    filter: none;
  }

  12.5% {
    opacity: 1;
    transform: none;
    filter: none;
  }

  80% {
    opacity: 1;
    transform: none;
    filter: none;
  }

  to {
    opacity: 0;
    transform: none;
    filter: blur(0.5em);
  }
}

@keyframes logoMain {
  from {
    opacity: 0;
    transform: scale(1.25, 1.25);
  }

  12.5% {
    opacity: 0;
    transform: scale(1.25, 1.25);
  }

  37.5% {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes yourStarDescendsOuter {
  from {
    opacity: 0;
    transform: translate(0, 3em);
  }

  20%, 80% {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: none;
  }
}

@keyframes yourStarDescendsSeparator {
  from, 10% {
    transform: scale(0, 1);
  }

  40%, to {
    transform: none;
  }
}

@keyframes theGreatCosmosDeemsYou {
  from, 20% {
    transform: translate(0, 1em);
    opacity: 0;
  }

  40% {
    transform: none;
  }

  60% {
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes revealOuter {
  from {
    filter: blur(0.25em);
    opacity: 0;
  }

  20%, 80% {
    filter: none;
    opacity: 1;
  }

  to {
    filter: none;
    opacity: 0;
  }
}

@keyframes onboardingTextIn {
  from {
    opacity: 0;
    transform: translate(0, -5em);
  }

  50% {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes onboardingButtonIn {
  from {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes onboardingTextOut {
  from {
    opacity: 1;
    transform: none;
    filter: none;
  }

  to {
    opacity: 0;
    transform: translate(0, 5em);
    filter: blur(0.25em);
  }
}

@keyframes onboardingButtonOut {
  from {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes quizBackgroundNextStart {
  from {
    filter: blur(1em);
    opacity: 0.25;
  }

  to {
    filter: none;
    opacity: 1;
  }
}

@keyframes quizBackgroundLoop {
  from {
    filter: none;
    opacity: 1;
  }

  to {
    filter: blur(1em);
    opacity: 0.25;
  }
}

@keyframes questionBlockIn {
  from {
    opacity: 0;
    transform: translate(0, -5em);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes quizProgressOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes questionBlockOut {
  from {
    opacity: 1;
    transform: none;
    filter: none;
  }

  50% {
    opacity: 1;
    transform: none;
    filter: none;
  }

  to {
    opacity: 0;
    transform: translate(0, 5em);
    filter: blur(0.25em);
  }
}

@keyframes unbornStarCanvasAnimation {
  from {
    opacity: 0;
    transform: scale(2, 2);
  }

  10% {
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes whyDoYouResembleOuter {
  from {
    opacity: 0;
    transform: translate(0, 10em);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes swipeYourStarUp {
  from, 50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes witnessJoin {
  from {
    opacity: 0;
  }

  20%, 80% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes galleryInFromRight {
  from {
    opacity: 0;
    transform: translate(22.5em, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes galleryInFromLeft {
  from {
    opacity: 0;
    transform: translate(-22.5em, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes galleryOutToLeft {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate(-22.5em, 0);
  }
}

@keyframes galleryOutToRight {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate(22.5em, 0);
  }
}

@keyframes bornStarControlPanel {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9) translate(0, 2em);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes bornStarCanvas {
  from, 50% {
    transform: scale(0, 0);
  }

  to {
    transform: none;
  }
}
