/* https://stackoverflow.com/questions/36212722/how-to-prevent-pull-down-to-refresh-of-mobile-chrome */
html, body {
  overscroll-behavior: contain;
  overflow: hidden;
}

html {
  font-size: 24px;
}

#root {
  text-align: center;
}

.emphasized {
  font-weight: bold;
}
