:root {
  --color-bright: #FAFAF0;
  --color-shine: #FFBE00;
  --color-radiance: #F60;
  --color-midnight: #0E0A09;
}

/* https://stackoverflow.com/questions/36212722/how-to-prevent-pull-down-to-refresh-of-mobile-chrome */
html, body {
  overscroll-behavior: contain;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

body {
  color: var(--color-bright);
  background-color: var(--color-midnight);
  user-select: none;
  /* html and body rules above this line are technically overridden by inline styling for before this file is preloaded */
  font-family: Geist, sans-serif;
  font-weight: 400;
  letter-spacing: -0.011em;
}

p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

.header, .theArchitectsPresent {
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  letter-spacing: -0.05em;
}

.header {
  font-size: 1.5em;
}

.theArchitectsPresent::after, .showUsYourShine::after {
  display: block;
  content: '';
  height: auto;
  overflow: hidden;
  box-sizing: content-box;
  outline: var(--color-bright) solid 0.0625em;
  margin-left: 0.03125em;
  margin-right: 0.03125em;
  padding: 0 0.0625em;
}

.theArchitectsPresent::after {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.showUsYourShine::after {
  font-size: calc(2em / 3);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

button {
  font-weight: 700;
  outline: none;
  border: none;
  background-color: var(--color-midnight);
  color: var(--color-bright);
}

button.quizButton1, button.quizButton2 {
  background-color: transparent;
}

button.quizButton1 {
  color: var(--color-shine);
}

button.quizButton1.pressed, button.quizButton1:active {
  background-color: var(--color-shine);
}

button.quizButton2 {
  color: var(--color-radiance);
}

button.quizButton2.pressed, button.quizButton2:active {
  background-color: var(--color-radiance);
}

button:disabled {
  opacity: 0.25;
}

button.pressed, button:active {
  background-color: var(--color-bright);
  color: var(--color-midnight);
}

.backgroundDark, .backgroundContainer, .foreground, .scalingSection, .loadingStar, .loadingProgress {
  /* object-fit: cover; */
  position: absolute;
}

.backgroundDark, .foreground {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.videoSequence, .background {
  position: absolute;
  width: inherit;
  height: inherit;
}

.backgroundDark {
  background-color: var(--color-midnight);
}

.outlined {
  padding: 0;
  width: 100%;
  height: 100%;
}

button, .outlined {
  border-radius: 0.25em;
  outline: var(--color-bright) solid 0.125em !important;
  outline-offset: -0.0625em;
}

.outlinedWithTopNeighbor, .outlinedWithLeftNeighbor {
  border-top-left-radius: 0;
}

.outlinedWithTopNeighbor, .outlinedWithRightNeighbor {
  border-top-right-radius: 0;
}

.outlinedWithBottomNeighbor, .outlinedWithLeftNeighbor {
  border-bottom-left-radius: 0;
}

.outlinedWithBottomNeighbor, .outlinedWithRightNeighbor {
  border-bottom-right-radius: 0;
}

.emphasized {
  font-weight: 700;
  color: var(--color-shine);
}

.header .emphasized {
  font-weight: 400;
  font-family: Migra, serif;
  color: var(--color-radiance);
  letter-spacing: -0.011em;
}

.centeredText {
  text-align: center;
}

.questionBlock {
  font-weight: 500;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.questionBlock>div {
  font-size: 1.5em;
  letter-spacing: -0.05em;
}

/* https://stackoverflow.com/questions/66952087/how-to-create-a-gradient-progress-bar-with-a-fixed-gradient */
.quizProgress {
  height: 0.25em;
  top: -0.125em;
  position: relative;
}

.quizProgress::before {
  content: '';
  position: absolute;
  top: 0.09375em;
  left: 0;
  right: 0;
  bottom: 0.09375em;
  background: #FAFAF0;
}

.quizProgressPercent, .quizProgressBar {
  height: 100%;
}

.quizProgressBar {
  -webkit-mask: linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0);
}

.quizProgressBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #F60, #FFBE00);
}

.quizProgressStar {
  position: relative;
  margin-left: 100%;
  left: -0.75em;
  top: -0.875em;
  width: 1.5em;
  height: 1.5em;
}

.starCanvas {
  width: 100%;
  height: 100%;
}

/* Some browsers may not be able to copy image data from a video if it isn't actively being rendered in the DOM */
.hiddenVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  /*
  width: 100px;
  height: 100px;
  opacity: 0.5;
  */
}

.radial-slider-controller-outer {
  stroke: var(--color-bright);
  fill: var(--color-midnight);
}

.radial-slider-controller-inner {
  fill: var(--color-bright);
}
